\Animal{\npc{\A}{\MakeUppercase {{Name}}}}%
  {{{{Strength}}}{{{Dexterity}}}{{{Speed}}}}% BODY
  {{{Wits}}}% WITS
  {
    \set{Projectiles}{{{Projectiles}}}
    \set{Brawl}{{{Brawl}}}
    \set{Athletics}{{{Athletics}}}
    \set{Deceit}{{{Deceit}}}
    \set{Empathy}{{{Empathy}}}
    \set{Flight}{{{Flight}}}
    \set{Stealth}{{{Stealth}}}
    \set{Survival}{{{Survival}}}
    \set{Vigilance}{{{Vigilance}}}
  }% SKILLS
  {{{Knacks}}}% KNACKS
  {{{Abilities}}}% ABILITIES

