\Person{%
  \NPC{{{Symbols}}\{{Gender}}}{{{Name}}}{{{Description}}}{{{Mannerism}}}{{{Wants}}}
  \npcQuote{{{Quote}}}
}%
  {{{{Strength}}}{{{Dexterity}}}{{{Speed}}}}% BODY
  {{{{Intelligence}}}{{{Wits}}}{{{Charisma}}}}% MIND
  {
    \set{Earth}{{{Earth}}}
    \set{Air}{{{Air}}}
    \set{Fire}{{{Fire}}}
    \set{Water}{{{Water}}}
    \set{Fate}{{{Fate}}}

    \set{Brawl}{{{Brawl}}}
    \set{Melee}{{{Melee}}}
    \set{Projectiles}{{{Projectiles}}}

    \set{Academics}{{{Academics}}}
    \set{Athletics}{{{Athletics}}}
    \set{Crafts}{{{Crafts}}}
    \set{Cultivation}{{{Cultivation}}}
    \set{Deceit}{{{Deceit}}}
    \set{Flight}{{{Flight}}}
    \set{Medicine}{{{Medicine}}}
    \set{Performance}{{{Performance}}}
    \set{Larceny}{{{Larceny}}}
    \set{Seafaring}{{{Seafaring}}}
    \set{Survival}{{{Survival}}}
    \set{Vigilance}{{{Vigilance}}}
	{{Weapon}}
  }% SKILLS
  {{{Knacks}}}% KNACKS
  {{{Equipment}}}% EQUIPMENT
  {{{Abilities}}}% ABILITIES

{{Aftertext[0]}}

{{Aftertext[1]}}

