
\filledCS%
  {{{Name}}}% NAME
  {{{Race}}}% RACE
  {{{Concept}}}% CONCEPT
  {{{Code}}}% CODE
  {{{{Strength}}}{{{Dexterity}}}{{{Speed}}}}% BODY
  {{{{Intelligence}}}{{{Wits}}}{{{Charisma}}}}% MIND
  {%
    \renewcommand\rank{Fodder}
    \renewcommand\characterDebt{100 \glspl{sp}}
    \set{Earth}{{{Earth}}}
    \set{Air}{{{Air}}}
    \set{Fire}{{{Fire}}}
    \set{Water}{{{Water}}}
    \set{Fate}{{{Fate}}}
    \set{Projectiles}{{{Projectiles}}}
    \set{Melee}{{{Melee}}}
    \set{Brawl}{{{Brawl}}}
    \set{Academics}{{{Academics}}}
    \set{Athletics}{{{Athletics}}}
    \set{Caving}{{{Caving}}}
    \set{Crafts}{{{Crafts}}}
    \set{Cultivation}{{{Cultivation}}}
    \set{Deceit}{{{Deceit}}}
    \set{Empathy}{{{Empathy}}}
    \set{Flight}{{{Flight}}}
    \set{Medicine}{{{Medicine}}}
    \set{Performance}{{{Performance}}}
    \set{Larceny}{{{Larceny}}}
    \set{Seafaring}{{{Seafaring}}}
    \set{Stealth}{{{Stealth}}}
    \set{Survival}{{{Survival}}}
    \set{Vigilance}{{{Vigilance}}}
    {{Weapon}}
  }% SKILLS
  {{{Knacks}}}% KNACKS
  {\protect{{Equipment}}}% EQUIPMENT


